{% extends 'base.html.twig' %}

{% block title %}{% trans %}exhibition.page-title{% endtrans %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/exhibition/exhibition.css') }}">
{% endblock %}

{% block main %}
    <style>
        body .exhibit {
            position: relative;
            overflow: hidden;
        }

        body .three button.next6578 {
            position: absolute;
            right: 2rem;
            bottom: 3rem;
            cursor: pointer;
            padding: 1rem 1.5rem;
            border: none;
            border-radius: 5rem;
            background-color: var(--primary-600);
            color: var(--base-0);
            transition: background-color ease-out 0.3s;
        }

        body .three button.next6578:hover {
            background-color: var(--primary-900);
        }
    </style>

    <div class="splash">
        <video id="splash-tutorial" controls muted>
            <source src="assets/videos/exhibition/stars.mp4" type="video/mp4" />
        </video>
        <button>{% trans %}exhibition.splash.next{% endtrans %}</button>
    </div>

    <section class="tuto">
        <div class="title">
            <h1>{% trans %}exhibition.tuto.title-live{% endtrans %} <span class="alternative-font">{% trans %}exhibition.tuto.title-experience{% endtrans %}</span></h1>
            <p>{% trans %}exhibition.tuto.text{% endtrans %}</p>
        </div>

        <div class="video">
            <video controls muted>
                <source src="assets/videos/exhibition/stars.mp4" type="video/mp4" />
            </video>
            <p>{% trans %}exhibition.tuto.legend{% endtrans %}</p>
        </div>
    </section>

    <section class="exhibit">
        <div class="three">
            <button class="next6578">Suivant</button>
        </div>
    </section>


    <script src="/assets2/App/module.js"></script>
    <script src="/assets2/App/OrbitControls.js"></script>
    <script src="/assets2/App/gsap.min.js"></script>
    <script src="/assets2/App/STLLoader.js"></script>
    <script src="/assets2/App/GLTFLoader.js"></script>
    <script src="/assets2/App/Scene.js"></script>
    <script src="/assets2/App/SceneController.js"></script>
    <script src="/assets2/App/App.js"></script>

{% endblock %}
